html {
    font-size: 16px;
    @media (min-width: 600px) {
        font-size: 18px;
    }

    @media (min-width: 800px) {
        font-size: 20px;
    }
}

a {
    color: black;
}

/*ヘッダーのスタイル*/
header div{
    display:flex;

    /*  下記は装飾部分です。なくてもOK  */
    padding: 10px;
}

header{
    display:flex;
    background: white;
}

header div:first-child{
    margin-right:auto;
}
/*ヘッダーのスタイル*/


/*オリジナルbootsrapのスタイル*/

.btn {
    padding: .84rem 2rem;
}

.swiper-container .card-img, .card-img-top, .card-img-bottom {
    height: 100px;
}

.swiper-container .card-body {
    height: 160px;
    padding: 0.7rem;
}

.swiper-container .card-title {
    /*border: solid 1px red;*/
    height: 60%;
    font-size: 0.7rem;
    margin: 0;
    padding: 0;
}


.swiper-container .card .card-lists {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar {
    padding-top: .5rem;
    padding-bottom: 0;
}

.swiper-container .card .card-list {
    font-size: 11px;
}

/*オリジナルbootsrapのスタイル*/

.fixed_btn
{
    position: fixed;
    bottom: -20px;
    right: -20px;
}

.circle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: skyblue;
}

.circle span {
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width :100px;
    text-align:center;
}


/*カードのスタイル*/

.sidecard {
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-top: 15px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.sidecard-title {
    font-size: 2rem;
}

.sidecard-text {
    font-size: 0.75rem;
}

.sidecard-link {
    font-size: 0.75rem;
    pointer-events: none;
  }

.sidecard-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.75rem;
    display: flex;
}

.sidecard-body li {
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
}

/*カードのスタイル*/


/*各コンテンツのスタイル*/
.group-section span {
    font-size: 0.875rem;
}


/*リストの装飾*/
.list207 ol {
    padding: 0;
    list-style-type: none;
    border: none;
    counter-reset: number;
}
.list207 ol li {
    position: relative;
    line-height: 1.5;
    padding: 0.5em 0 0.5em 1.6em;
}
.list207 ol li:before {
    position: absolute;
    font-family: "Quicksand", sans-serif;
    content: counter(number);
    counter-increment: number;
    left: 0;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ee8992;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 22px;
}

/*見出しの装飾*/
/*.heading {*/
/*    border-left: 10px solid #cc3366; !* 左ボーダーを、10px幅の実線、線色#CC3366に *!*/
/*}*/


.heading {
    position: relative;
    margin: 0 0 1.5em;
    padding: 0.8em 0 0.8em 1.5em;
    /*border: 2px solid #B92A2C;*/
    font-size: 1.143em;
    font-weight: bold;
}

.heading:before{
    content: "";
    position: absolute;
    background: #B92A2C;
    top: 50%;
    left: 0.5em;
    margin-top :-15px;
    height: 30px;
    width: 8px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.rounded {
    border-radius: 50px; /* ちょっとだけ角丸 */
}